# Скопировать в .env на сервере и заполнить.  .env в git и в образ не попадает.
DOMAIN=memza.mooo.com
DB_PASSWORD=придумай_длинный_пароль
RAILS_MASTER_KEY=содержимое_файла_config/master.key
ZEROSSL_API_KEY=ключ_с_app.zerossl.com/developer
